# General
.DS_Store
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.next/
dist/
build/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
android/.gradle
android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_foreground.xml
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
